@font-face {
    font-family: Ticker;
    src: url(SubwayTickerGrid.ttf);
}
body {
    font-family: "Ticker";
    font-style: normal;
    margin: 0;
    padding: 10px;
    background-color: #000;
}

.box {
  width: 300px;
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-title {
  margin: 0;
  color: black;
}

.exit-button {
  background-color: rgb(138, 144, 138);
  border: none;
  margin-left: 10px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.box-message {
  margin-top: 20px;
}   

.container {
    max-width: 800px;
    margin: 50px auto;
    /* padding: 20px; */
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.add-btn { 
    width: 45px;
    border-radius: 100%;
}

.top-bar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-form {
  display: flex;
  flex-direction: row;
}
.search-bar {
    width: 100%;
    padding: 10px;
    border: 3px solid rgb(170, 167, 167);
    border-radius: 15px;
    margin-right: 10px;
}

.name-list {
  margin-top: 20px;
  overflow-x: auto; /* Allow horizontal scrolling */
  white-space: nowrap; /* Prevent text from wrapping */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.name-list::-webkit-scrollbar {
    display: none; /* WebKit */
}
.name-item {
  display: flex;
  align-items: center;
  padding: 4px;
  /* border-top: 1.1px solid rgb(170, 167, 167, 0.5); */
  min-width: 100%; /* Ensure each item takes up the full width */
}

.name-content {
  display: flex;
  align-items: center;
  color: #63e647;
  font-size: 21px;
  white-space: nowrap; /* Prevent text from wrapping */
}

.name-number {
  margin-right: 10px; /* Spacing between number and dislike-icon */
  font-weight: bold;
}

.dislike-icon {
  cursor: pointer;
  margin-right: 10px; /* Add space after dislike-icon */
}

.name-content span {
  margin-right: 12px; /* Add space before text */
}





/* @keyframes moveRightToLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%); 
    }
} */


.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: rgb(170, 167, 167, 0.5);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove default link underline */
}

.back-button:hover {
  background-color: #63e647;
}

a {
  color: #63e647;
  text-decoration: none;
}


h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: white;
  font-weight: bold;
}

input {
  padding: 10px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: rgb(170, 167, 167, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 99%;
}

button:hover {
  background-color: #63e647;
}

.home-icon {
  font-size: 24px;
  margin-right: 10px;
  text-decoration: none;
}
.text-list {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  color: white;
  padding-left: 10px;
}
textarea {
  padding: 10px;
  width: 93%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

